[defaults]
remote_user = ansible
host_key_checking = false
inventory = /home/ansible/mysql-automation/inventory
roles_path = /home/ansible/mysql-automation/roles
collections_path = /home/ansible/mysql-automation/collections



[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false





